body {
  text-align: center;
  background-color:#f1fdfd;
  font-family: 'Merriweather', serif;
  margin: 0;
	color: #40514E;
	font-size: 1.5em;
}
p{
	line-height: 1.5;
}
div {
  padding: 20px;
}

.cloud {
  position: relative;
  padding: 10;
  left: 150px;
}

.at {
  position: relative;
  padding: 20;
  left: 400px;
}

.bat {
  position: relative;
  padding: 20;
  right: 400px;
}

.cat {
  position: relative;
  padding: 20;
  right: 100px;
}

.top-cloud {
  position: relative;
  right: 150px;
  padding: 10;
}

.under {
  text-decoration: underline;

}

table {
  margin: 100px auto 100px auto;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border-color: grey;
  border-style: dotted none none;
  border-width: 5px;
  width: 4%;
}
h2, h3{
	font-family: 'Montserrat', sans-serrif
}

h1, h3, h2 {
  margin: 0;
  color: #66BFBF;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

iframe {
  display: inline;
}

.contact {
  display: block;
}

div.top {
  position: relative;
  background-color: #b8faff;
  padding: 30px;
  text-align: center;
}

div.middle-container {
  background-color: #cdfafd;
}
div.bottom-container {
  text-align: center;
  background-color: #e4fcfd;
}
.skill-row {
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;

}
.disimg{
	width: 25%;
	float: left;
	margin-right: 30px;
}
.webimg{
	width: 25%;
	float: right;
	margin-right: 30px;
}
.myimg{
	width: 15%;
	margin: 50px auto 50px auto
}
/*****************************************id selector**************************************/
#me {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  line-height: 2;
}
#h2 {
	font-size: 2.5rem;
	color: #66BFBF;
	font-weight: normal;
}
#h3 {
  color: #11999E;
}

#pro{
	text-decoration: underline;
}
