body {
  background-color:#f1fdfd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  text-align: center;
}

div {
  padding: 20px;
}

.cloud {
  position: absolute;
  padding: 10;
  left: 800px;
}

.at {
  position: relative;
  padding: 20;
  left: 400px;
}

.bat {
  position: relative;
  padding: 20;
  right: 400px;
}

.cat {
  position: relative;
  padding: 20;
  right: 100px;
}

.top-cloud {
  position: relative;
  right: 150px;
  padding: 10;
}

table {
  margin: 0 auto 0 auto;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border-color: grey;
  border-style: dotted none none;
  border-width: 5px;
  width: 4%;
}

h1, h3, h2 {
  margin: 0;
  color: #66BFBF;
}

img.c {
  background-color: aqua;
  border-radius: 100%;
}

img.y {
  background-color: #d44000;
  border-radius: 100%;
}

div.top {
  position: relative;
  background-color: #b8faff;
  padding: 30px
}

div.mid1 {
  background-color: #cdfafd;
}
div.mid2 {
  background-color: #e4fcfd;
}

/*****************************************id selector**************************************/
#me {
  color: #1bcee6;
}

#h3 {
  color: black;
}